<form id="contact" action="/contact" method="POST">
  <fieldset class="name">
    <label for="name">NAME</label>
    <input id="name" name="name"type="text" value="{{ fieldValues.name }}">
  </fieldset>
  <fieldset class="email">
    <label for="email">EMAIL</label>
    <input id="email" name="email" type="text" value="{{ fieldValues.email }}">
  </fieldset>
  <fieldset class="message">
    <label for="message">MESSAGE</label>
    <textarea id="message" name="message" rows="10" value="{{ fieldValues.message }}"></textarea>
  </fieldset>
  {{#if error}}
  <div class="message-card error">{{ error }}</div>
  {{/if}}
  {{#if message}}
  <div class="message-card success">{{ message }}</div>
  {{/if}}
  <fieldset class="buttons">
    <button type="reset">RESET</button>
    <button type="submit">SEND</button>
  </fieldset>
</form>